:root {
    --txt-size1: 5rem;
    --txt-size2: 3rem;
    --txt-size3: 2rem;
    --txt-size4: 1.5rem;
    --bold: 900;
    --light: 500;

    --bg-color: #f6f6f6;
    --dark: #101010;
    --gray: #494949;

    --transition: all 0.3s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Kreon", serif;
}

body {
    background-color: var(--bg-color);
}

/* Header Section */

.header-wrapper {
    background-color: var(--bg-color);
    padding: 2rem;
}

.nav-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}


.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    font-size: var(--txt-size3);
    gap: 2rem;
    width: auto;
}

.nav-links li {
    list-style: none;
    padding: 1rem;

}

.nav-links li a {
    text-decoration: none;
    color: var(--dark);
    font-weight: var(--bold);
    transition: var(--transition);
    text-transform: uppercase;
}

.nav-bar img {
    width: 5rem;
}

.nav-links li:hover {
    background: #49494917;
    transition: var(--transition);
    border-radius: 8px;
    transform: translateY(-5px);
}

/* hero section */

.hero-section {
    margin: 0 auto;
    margin-bottom: 20rem;
}

.hero-wrapper {
    display: flex;
    width: 90%;
    margin: 2rem auto;
}

.hero-img {
    width: 60rem;
    height: auto;
    border-radius: 6px;
    flex: 0 0 50%;
}

.hero-content {
    padding: 5rem;
    flex: 0 0 50%;
}

.hero-content h1 {
    width: auto;
    font-size: var(--txt-size1);
    font-weight: var(--bold);
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-right: 4rem;
}

.hero-content h2 {
    font-size: var(--txt-size3);
    font-weight: var(--light);
    text-align: right;
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: var(--txt-size3);
    line-height: 1.5;
    margin-bottom: 10rem;
}

.hero-actions {
    display: block;
    width: 100%;
}

.hero-btn1 {
    padding: 2rem;
    width: 100%;
    background-color: var(--dark);
    text-align: center;
    border-radius: 1mm;
    margin-bottom: 2rem;
    border: 1mm solid black;
}

.hero-btn1 a {
    text-decoration: none;
    color: white;
    font-size: var(--txt-size3);
    text-transform: uppercase;
}

.hero-btn2 {
    padding: 2rem;
    width: 100%;
    text-align: center;
    border: 0.5mm solid var(--gray);
    border-radius: 1mm;
}

.hero-btn2 a {
    text-decoration: none;
    font-size: var(--txt-size3);
    text-transform: uppercase;
    color: var(--dark);
    font-weight: var(--light);
}

/* Style with section */

.style-with-section {
    margin: 0 auto;
}

.style-with-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20rem;
}

.style-with-header {
    padding-left: 35rem;
}
.style-with-header h3 {
    position: relative;
    font-size: var(--txt-size3);
    text-transform: uppercase;
    font-style: italic;
}

.style-with-header h2 {
    position: relative;
    font-size: 10rem;
    font-weight: var(--bold);
    text-transform: uppercase;
}

.style-with-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.style-with-card1 {
    flex: 0 0 25%;
}

.style-with-card2 {
    flex: 0 0 18%;
}

.style-with-card1 img {
    width: 100%;
    height: auto;
}

.style-with-card2 img {
    width: 100%;
    height: auto;
}

.card-txt {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: var(--light);
    font-size: var(--txt-size4);
}


/* Arrivals section */
.arrivals-section {
    margin-bottom: 2rem;
}

.arrivals-wrapper {
    width: 90%;
    margin: 0 auto;
}

.arrivals-header {
    display: flex;
    justify-content: space-between;
}

.arrivals-header h2 {
    font-size: 6rem;
    font-weight: var(--bold);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.arrivals-header p {
    text-transform: uppercase;
    font-size: var(--txt-size4);
    font-weight: var(--light);
    width: 40%;
    padding-top: 4rem;

}

.arrivals-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.arrival-card {
    width: 23%;
}

.arrival-card img {
    width: 100%;
    height: auto;
}


/* Footer section */
footer {
    padding-top: 10rem;
}

.footer-wrapper {
    width: 90%;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}


.links {
    font-size: var(--txt-size4);
    font-weight: var(--light);
    text-align: center;
}


.contacts li, .quick-links li, .socials li {
    margin-bottom: 2rem;
    list-style-type: none;
}

.contacts li a, .quick-links li a, .socials li a {
    text-decoration: none;
    color: var(--dark);
}

.contacts li a:hover, .quick-links li a:hover, .socials li a:hover {
    border-bottom: 0.6mm solid var(--dark);
    transition: 2s all ease-out;
}

.bottom-footer {
    padding: 2rem;
    text-align: center;
    font-size: var(--txt-size4);
}


.shopping-cart {
    position: fixed;
    background: #dedddd;
    transition: opacity 0.3s, ease;
    pointer-events: none;
    opacity: 0;
    inset: 0;
    width: 400px;
}

.shopping-cart:target {
    opacity: 1;
    pointer-events: auto;
}

.cart-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.shopping-cart:target .cart-panel {
    transform: translateX(0);
}

.cart-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    text-decoration: none;
    color: var(--dark);
}

.cart-items {
    margin-top: 3rem;
    flex: 1;
}

.cart-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    border: 1px solid gray;
    border-radius: 2px;
    align-items: center;
}

.cart-item img {
    width: 9rem;
    height: auto;

}


.item-txt p{
    font-size: 1.6rem;
}

.item-txt span {
    font-weight: 700;
}

.cart-footer {
    padding-top: 2rem;
    border-top: 1px solid #eee;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-size: 1.6rem;
}

.complete-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--dark);
    color: var(--bg-color);
    cursor: pointer;
    border-radius: 6px;
}

.cart-trigger {
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 999;
}

.cart-trigger img{
    width: 4rem;
}
