:root {
    --txt-size1: 5rem;
    --txt-size2: 3rem;
    --txt-size3: 2rem;
    --txt-size4: 1.6rem;
    --bold: 900;
    --light: 500;
    
    --bg-color: #f6f6f6;
    --dark: #101010;
    --gray: #494949;

    --transition: all 0.3s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Kreon", serif;
}

/* Header Section */

.header-wrapper {
    background-color: var(--bg-color);
    padding: 2rem;
}

.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--txt-size3);
    gap: 4rem;
    width: 30%;
}

.nav-links li {
    list-style: none;
    padding: 1rem;

}

.nav-links li a {
    text-decoration: none;
    color: var(--dark);
    font-weight: var(--bold);
    transition: var(--transition);
    text-transform: uppercase;
}

.nav-bar img {
    width: 5rem;
}

.nav-links li:hover {
    background: #49494917;
    transition: var(--transition);
    border-radius: 8px;
    transform: translateY(-5px);
}

