:root {
    --txt-size1: 5rem;
    --txt-size2: 3rem;
    --txt-size3: 2rem;
    --txt-size4: 1.6rem;
    --bold: 900;
    --light: 500;
    
    --bg-color: #f6f6f6;
    --dark: #101010;
    --gray: #494949;

    --transition: all 0.3s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Kreon", serif;
}

body {
    background-color: var(--bg-color);
}

/* Header Section */

.header-wrapper {
    background-color: var(--bg-color);
    padding: 2rem;
}

.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--txt-size3);
    gap: 4rem;
    width: 30%;
}

.nav-links li {
    list-style: none;
    padding: 1rem;

}

.nav-links li a {
    text-decoration: none;
    color: var(--dark);
    font-weight: var(--bold);
    transition: var(--transition);
    text-transform: uppercase;
}

.nav-bar img {
    width: 5rem;
}

.nav-links li:hover {
    background: #49494917;
    transition: var(--transition);
    border-radius: 8px;
    transform: translateY(-5px);
}

/* hero section */

.hero-section {
    margin: 0 auto;
    margin-bottom: 20rem;
}

.hero-wrapper {
    display: flex;
    width: 85%;
    margin: 2rem auto;
}

.hero-img {
    width: 60rem;
    height: auto;
    border-radius: 6px;
}

.hero-content {
    padding: 5rem;
}

.hero-content h1 {
    width: 80%;
    font-size: var(--txt-size1);
    font-weight: var(--bold);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero-content h2 {
    font-size: var(--txt-size3);
    font-weight: var(--light); 
    text-align: right;
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: var(--txt-size3);
    line-height: 1.5;
    margin-bottom: 10rem;
}

.hero-actions {
    display: block;
    width: 100%;
}

.hero-btn1 {
    padding: 2rem;
    width: 100%;
    background-color: var(--dark);
    text-align: center;
    border-radius: 1mm;
    margin-bottom: 2rem;
    border: 1mm solid black;
}

.hero-btn1 a {
    text-decoration: none;
    color: white;
    font-size: var(--txt-size3);
    text-transform: uppercase;
}

.hero-btn2 {
    padding: 2rem;
    width: 100%;
    text-align: center;
    border: 0.5mm solid var(--gray);
    border-radius: 1mm;
}

.hero-btn2 a{
    text-decoration: none;
    font-size: var(--txt-size3);
    text-transform: uppercase;
    color: var(--dark);
    font-weight: var(--light);
}


/* Style with section */

.style-with-section {
    margin: 0 auto;
}

.style-with-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20rem;
}

.style-with-header h3 {
    position: relative;
    left: 40%;
    font-size: var(--txt-size3);
    text-transform: uppercase;
    font-style: italic;
}

.style-with-header h2 {
    position: relative;
    left: 40%;
    font-size: 10rem;
    font-weight: var(--bold);
    text-transform: uppercase;
}

.style-with-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.style-with-card1 {
    width: 25%;
}

.style-with-card2 {
    width: 18%;
}

.style-with-card1 img{
    width: 100%;
    height: auto;
}

.style-with-card2 img{
    width: 100%;
    height: auto;
}